.App {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100vw;
height: 100vh;
margin: 0;
padding: 0;
box-sizing: border-box;
background-color: #f5f5f5;

  text-align: center;
}

.header{
  font-style: italic;
  width: 80vw;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-size: 2rem;
  font-weight: 200;
  color: #333;
  margin: 20px auto;
  padding: 0;
}


.App input{
  width: 50vw;
  margin: 5px auto;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  background-color: #f5f5f5;
  border: 1px solid #333;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 200;
  color: #333;
text-align: center;
  transition: all 0.2s ease-in-out;

}

.App input:hover{
  box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.4);
}
.App button{
  width: 25vw;
  margin: 5px auto;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  background-color: #f5f5f5;
  border: 1px solid #333;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 200;
  color: #333;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.App button:hover{
  box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.4);
  color:rgba(200, 100, 100, 0.8);
}




.flex-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:25vw;
  height: auto;
  margin: 0 auto;
  padding: 0;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.flex-container:hover {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.4);
}


.flex-container h1 {
  font-style: italic;
  font-size: 2rem;
  font-weight: 200;
  color: #333;
  margin: 20px auto;
  padding: 0;
}

.flex-container p {
  font-style: italic;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 300;
  color: #333;

}
.flex-forecast{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-direction: row;
}
.forecast-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 11vw;
  height: auto;
  margin: 20px auto;
  padding: 1px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.forecast-container:hover {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.4);
}

.forecast-container p {
  font-style: italic;
  margin: 0;
  padding: 0;
  font-size: 0.4rem;
  font-weight: 300;
  color: #333;

} 

.forecast-container img {
  width: 2vw;
  height: auto;
  margin: 0 auto;
  padding: 0;
  background-color: #f5f5f5;
}


 .header {
  width: 65vw;
  font-size: 1.5rem;
}
 
  .flex-container h2 {
    font-size: 1rem;
  }
  .flex-container p {
    font-size: 0.8rem;
  }


@media screen and (max-width: 600px) {
  .flex-container {
    width:50vw;
  }

  .forecast-container p {
    font-size: 0.3rem;
  }

  .forecast-container {
  
    width: 12vw;
  }
  
}





  
